TAIGA_URL=https://api.taiga.io
TAIGA_TOKEN=Bearer <TOKEN_TAIGA_API>
PROJECT_ID=<TAIGA_PROJECT_ID>
SPRINT_NAME=<OPTIONAL_SPRINT_NAME>
SPRINT_START=<OPTIONAL_SPRINT_START>
SPRINT_END=<OPTIONAL_SPRINT_END>
DATABASE_URL=postgresql+asyncpg://taiga_push:secret@db:5432/taiga_push
